body {
    margin: 0px;
}


.popup-window {
    display: block;
    position: relative;

    padding: 15px;

    background-color: black;
    color: white;

    width: auto;
    height: auto;
}


.popup-window--remodal {
    width: 100vw;
    height: 100vh;
}

#rootpath-input {
    width: 500px;
}

#status {
    text-align: left;
    font-size: 10px;
    color: white;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
}

#status dt, dd {
    display: block;
    padding: 0px;
    margin: 0px;
}

#status dd {
    padding-left: 5px;
    color: grey;
}

#status .status--on {
    color: green;
}

#status .status--off {
    color: red;
}


h1 {
    font-size: 18px;
}



main {
    text-align: center;
}



.button {
    padding: 15px;
}



.button--active {
    background-color: green;
}



.user-buttons {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}



.item {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}



.item:last-child {
    margin-bottom: 0px;
}